<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="shipping">
	<select id="myShippingList" resultType="com.example.finalproject.model.shipping.dto.ShippingDTO"> 
			<![CDATA[ 
			select * from shipping
			where userid = #{userId}
			order by order_id desc
	 ]]>
	</select>
	
	
	<insert id="insertOrder">
	insert into shipping(order_id, userid, price, amount, receiver, address1, address2, phone, alert)
	values (order_id_seq.nextval, #{userid}, #{price}, #{amount}, #{receiver}, #{address1}, #{address2}, #{phone}, #{alert})
	</insert>
	
</mapper>