<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="shipping">
	<select id="myShippingList" resultType="com.example.finalproject.model.shipping.dto.ShippingDTO"> 
			<![CDATA[ 
			select * from shipping
			where userid = #{userId}
			order by order_id desc
	 ]]>
	</select>
	
	
	<insert id="insertOrder">
	insert into shipping(order_id, userid, price, amount, receiver, address1, address2, phone, alert)
	values (#{order_id}, #{userid}, #{price}, #{amount}, #{receiver}, #{address1}, #{address2}, #{phone}, #{alert})
	</insert>
	
	<insert id="orderInfo_Details">
		<![CDATA[ 
		insert into order_detail(od_no,order_id,product_id,od_count)
		select order_detail_seq.nextval, #{ORDER_ID}, product_id, amount
		from cart
		where userid=#{userid}
		]]>
	</insert>
	
	<select id="orderView" resultType="com.example.finalproject.model.shipping.dto.OrderListDTO">
		<![CDATA[
		select
        	o.order_id,o.userid,o.amount,o.pay_date,o.receiver,o.address1,o.address2,o.phone,o.alert,o.order_status
        	,d.od_no,d.product_id,d.od_count
        	,p.product_name,p.product_url,p.price
		from shipping o
        	inner join order_detail d
            	on o.order_id=d.order_id
        	inner join product p
            	on d.product_id=p.product_id
    	where o.userid=#{userId}
		 ]]>
	</select>
	
	<insert id="pay">
	insert into payment(pay_no, order_id)
	values (pay_no_seq.nextval, #{order_id})
	</insert>
	
	<select id="orderList" resultType="com.example.finalproject.model.shipping.dto.OrderListDTO">
		<![CDATA[
		select * from shipping
		 ]]>
	</select>
</mapper>