<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="community">
	<select id="post_list" resultType="com.example.finalproject.model.community.dto.CommunityDTO">
	<include refid="paging_header" />
		select *
		from community
		order by comm_no desc
		<include refid="paging_footer" />
	</select>
	
	<!-- select m.comm_no, m.comm_title, m.comm_content, m.userid, m.comm_url, m.comm_regdate, m.comm_viewcnt,
		(select count(*) from COMMUNITY_COMMENT where m.comm_no=t.comm_no) cnt
		from community m, COMMUNITY_COMMENT t
		order by m.comm_no desc; -->
	
	<sql id="paging_header">
	   select *
				from (
				    select rownum as rn, A.*
				    from (
	</sql>
	<sql id="paging_footer">
	          ) A    
				) where rn between #{start} and #{end}
	</sql>
	
	<!-- post 등록 -->
	<insert id="insert">
		insert into community (comm_no,comm_title,comm_content,writer, comm_url) values
	    (comm_seq.nextval, #{comm_title}, #{comm_content}, #{writer}, #{comm_url})
	</insert>
	
	<!-- post 목록 -->
	<select id="detail_post" resultType="com.example.finalproject.model.community.dto.CommunityDTO">
		select * from community
		where comm_no=#{comm_no}
	</select>
	
	<!-- 레코드 갯수 계산 -->
	<select id="countArticle" resultType="int">
		select count(*)
		from community
	</select>
	
	<select id="myCmmList" resultType="com.example.finalproject.model.community.dto.CommunityDTO">
		<![CDATA[ 
			select * from community
			where writer = #{userId}
			order by comm_no desc
		]]> 
	</select>
	
	<!-- post 수정 -->
	<update id="update">
		update community
		set 
		comm_title=#{comm_title}
		, comm_content=#{comm_content} 
		, comm_url=#{comm_url}
		where comm_no=#{comm_no}
	</update>
	
	<!-- post 삭제 -->
	<delete id="delete">
		delete from community 
		where comm_no=#{comm_no}
	</delete>
	
	<!-- 첨부파일 이름 -->
	<select id="getAttach" resultType="String">
		select comm_url
		from community
		where comm_no=#{comm_no}
	</select>
	
	<!-- 조회수 증가 처리 -->
	<update id="increaseViewcnt">
		update community set comm_viewcnt=comm_viewcnt+1
		where comm_no=#{comm_no}
	</update>
	
	<select id="read" resultType="com.example.finalproject.model.community.dto.CommunityDTO">
		select comm_no, comm_title, writer, name, comm_content, comm_regdate, comm_viewcnt, comm_url
		from community c, member m
		where c.writer=m.userid and comm_no=#{comm_no}
	</select>
	
	
</mapper>














