<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="community">
	<select id="post_list" resultType="com.example.finalproject.model.community.dto.CommunityDTO">
		select * from community
		order by comm_regdate desc
	</select>
	
	<insert id="insert">
	 insert into community (comm_no,comm_title,comm_content,userid) values
     (comm_seq.nextval, #{comm_title}, #{comm_content}, #{userid})
	
	</insert>
</mapper>














