<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="faq">
	<select id="faq_list" resultType="com.example.finalproject.model.faq.dto.FaqDTO">
		select * from faq order by faq_no desc
	</select>
	
	<insert id="insert">
		insert into faq(faq_no, faq_title, faq_content, userid)
		values (faq_seq.nextval, #{faq_title}, #{faq_content}, #{userid})
	</insert>
	
	<delete id="delete">
		delete from faq
		where faq_no=#{faq_no}
	</delete>
	
	<!-- faq 목록 -->
	<select id="detail_faq" resultType="com.example.finalproject.model.faq.dto.FaqDTO">
		select * from faq
		where faq_no=#{faq_no}
	</select>
	
	<select id="read" resultType="com.example.finalproject.model.faq.dto.FaqDTO">
		select * from faq
		where faq_no=#{faq_no}
	</select>
	
	<!-- faq 수정 -->
	<update id="update">
		update faq 
		set 
		faq_title=#{faq_title} 
		, faq_content=#{faq_content} 
		 where faq_no=#{faq_no}
	</update>
	
	
</mapper>














