<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="notice">
	<select id="listAll" resultType="com.example.finalproject.model.notice.dto.NoticeDTO">
	select bno, title, content, writer, name, regdate, viewcnt
	from notice n, member m
	where n.writer=m.userid
	order by bno asc
	</select>
	
	<insert id="insert" parameterType="com.example.finalproject.model.notice.dto.NoticeDTO">
	insert into notice(bno, title, content, writer) values
	(seq_notice.nextval,  #{title},  #{content}, #{writer})
	</insert>
</mapper>














