<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="notice">
	<select id="list" resultType="com.example.finalproject.model.notice.dto.NoticeDTO">
		select no, title, userid, writeDate, hit, pin
		from(
			select rownum rnum, no, title, userid, writeDate, hit, pin
			from(
						select no, title, userid, writeDate, hit, pin
						from notice
						<include refid="search" />
						order by pin desc, no asc
			)
		) 
		where rnum between #{start} and #{end}
	</select>
	
	<select id="getTotalRow" resultType="int">
		select count(*) from notice
	</select>
	
	<!-- 검색기능, sql태그는 다른 태그에 끼워넣을 수 있는 기능을 가지고 있음 -->
 <sql id="search">
  <choose>
   <when test="search_option != 'all' ">
    where ${search_option} like #{keyword}
   </when>
   <otherwise>
    where (userid like #{keyword} 
     or title like #{keyword} 
     or content like #{keyword})
   </otherwise>
  </choose>
 </sql>
	
	<select id="view" resultType="com.example.finalproject.model.notice.dto.NoticeDTO">
		select no, title, content, userid, writeDate, hit
		from notice
		where no=#{no}
	</select>
	
	<update id="increase">
		update notice
		set hit = hit + 1
		where no=#{no}
	</update>
	
	<insert id="write">
		insert into notice(no, title, content, userid)
		values(notice_seq.nextval, #{title}, #{content}, #{userid})
	</insert>
	
	<update id="update">
		update notice set title=#{title}, content=#{content}
		where no=#{no}
	</update>
	
	<delete id="delete">
		delete from notice
		where no=#{no}
	</delete>
</mapper>